# Ignore private stuff
ln/.ssh/authorized_keys
ln/.ssh/id_*
ln/.ssh/known_hosts
*priv*

# Misc files containing private or meaningless data
ln/.irssi/sasl.auth
ln/.config/*
.DS_Store
away.log
src/.zhistory
