# Ignore private stuff
ln/.tmux/resurrect/
ln/.ssh/*
ln/.ssh/assh.d/*
*priv*

# Misc files containing private or meaningless data
ln/.irssi/sasl.auth
ln/.config/*
*.pem
*.autosave
*.swp
.DS_Store
away.log
zdotdir/.zhistory
zdotdir/.zcompdump
zdotdir/.zkbd
*fnotify

# tmux plugins
ln/.tmux/*

# vim plugins
ln/.vim/bundle/*

# bin files
bin/ec2*
