# Ignore private stuff
ln/.ssh/authorized_keys
ln/.ssh/id_*
ln/.ssh/known_hosts
*priv*

# Misc files containing private or meaningless data
ln/.irssi/sasl.auth
ln/.config/*
*.pem
*.autosave
*.swp
.DS_Store
away.log
src/.z*
src/.dir_history
*fnotify

# tmux plugins
ln/.tmux/plugins/tmux*

# vim plugins
ln/.vim/bundle/*
