[user]
	name = Justin Garrison
	email = justinleegarrison@gmail.com
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
